body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(192, 233, 178);
    padding: 10px;
}
.navbar #{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.logo{
    font-family: 'poppins',sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: rgb(10, 160, 205);
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3 ease;
}

@media(max-width : 768px);{
    .nav-links{
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 10px;
    }
    .nav-links .show{
        display: flex;
    }
}

/*banner*/
.banner{
    height: 100vh;
    background: url(img/1.avif) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(red, green, blue, alpha);
}

.banner-cotent{
    position: relative;
    z-index: 1;
}

.banner p{
    font-size: 1.2rem;
}


/*about*/

.about{
    padding: 50px 20px;
    background: white;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;

}
.about-image img{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}

.about-contant {
    max-width: 500px;
}

.about-contant h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.about-contant p{
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
}

.btn{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #0078FF;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
@media(max-width:768px){
    .about-container{
        flex-direction: column;
        text-align: center;
    }
}

/*services*/


.services {
    padding: 15px 20px;
    text-align: center;

}

.services h2{
    font-size: 2rem;
    margin-bottom: 30px;
}

.card-container{
   gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.card{
     background: white;
    border-radius: 10px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition:transform 0.3s;

}

.card img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;

}

.card h3{
    margin-bottom: 10px;
}

.card p{
    color: black;
}

footer{
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}

/*contact-section*/

.contact-section{
    padding: 50px 20px;
    background: #f9fafc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    max-width: 1200px;
    margin: auto;
}

.contact-section .row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.contact-section .box{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0 , 0.08);

}

.contact-section h2{
    font-size: 1.5rem;
    color: #0d6efd;
    margin-bottom: 15px;
    border-bottom: 2px solid #e3e9f0;
    padding-bottom: 8px;

}

.contact-section p{
    margin: 8px 0;
    line-height: 1.6;
}

.contact-section details{
    background: #f4f4f4;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

.contact-section summary{
    font-weight: bold;
    font-size: 0.95rem;
    color: black;

}

.contact-section details p{
    margin-top: 8px;
    font-size: 0.95rem;
    color: black;

}

.contact-section iframe{
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 300px;

} 

@media(max-width:768px){
    .contact-section .row{
       grid-template-columns: 1fr; 
    }

    .map-video{
        flex-direction: column;
    }
}

/*form*/
form{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input,form button{
    padding: 10px;
    margin: 5px 0;
}

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9f9f9;
}
.register-box{
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0 , 0.1);
}

.register-box h2{
    margin-bottom: 20px;
    color: #333;
}
.register-box input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.register-box button{
    width: 100%;
    padding: 12px;
    background: #0078FF;
    color: white;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.login-link{
    margin-top: 15px;
    font-size: 14px;
}

.login-link a{
    color: #0078FF;
    text-decoration: none;
}

/*login section*/


.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9f9f9;
}
.login-box{
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0 , 0.1);
}

.login-box h2{
    margin-bottom: 20px;
    color: #333;
}
.login-box input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.login-box button{
    width: 100%;
    padding: 12px;
    background: #0078FF;
    color: white;
    font-size: 16px;
    border-radius:5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.register-link{
    margin-top: 15px;
    font-size: 14px;
}

.register-link a{
    color: #0078FF;
    text-decoration: none;
}

/*table container*/
.table-container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
table{
    border-collapse: collapse;
    width: 80%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
    text-align: center;
}

th,td{
    padding: 12px;
    border: 1px solid #ddd;
}

th{
    background: #333;
    color: white;
}
h2{
    text-align: center;
    margin-top: 20px;
}
@media(max-width:600px){
    th,td{
        padding: 6px;
        font-size: 14px;
    }
}

